---
import { Picture } from "astro:assets";
import PageTitle from "../../components/PageTitle.astro";
import Section from "../../components/Section.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import Sheet from "../../components/Sheet.astro";
import Layout from "../../layouts/Layout.astro";

import companyImage from "../../assets/company.webp";
import presidentImage from "../../assets/president.webp";
---

<Layout title="Company" commonjs="./js/common.js">
  <Sheet>
    <PageTitle>Company</PageTitle>
    <Section>
      <div class="flex flex-col gap-20">
        <div class="grid md:grid-cols-2 items-center gap-[40px]">
          <div>
            <Picture
              src={companyImage}
              alt="会社の外観"
              formats={["avif", "webp"]}
              class="rounded-2xl"
            />
          </div>

          <div class="flex flex-col">
            <SectionTitle>About</SectionTitle>
            <p>
              We are a company specializing in building design and construction.<br
              />We pursue dreams together with our customers and create the
              urban landscape of the future together. Join us and make your
              vision a reality.
            </p>
          </div>
        </div>

        <hr class="border-green-800" />

        <div class="grid md:grid-cols-2 items-center gap-[40px]">
          <div class="md:order-2">
            <Picture
              src={presidentImage}
              alt="president image"
              formats={["avif", "webp"]}
              class="rounded-2xl"
            />
          </div>

          <div class="flex flex-col">
            <SectionTitle>Message from the President</SectionTitle>
            <p>
              Construction strives every day to respond to the needs of each
              customer in order to make their dreams come true. We at
              Construction have been working together with our customers. We
              look forward to continuing to work with our customers as a partner
              in making their dreams come true.
            </p>
          </div>
        </div>
      </div>
    </Section>
  </Sheet>
</Layout>
