---
import Layout from "../../layouts/Layout.astro";
import Sheet from "../../components/Sheet.astro";
import WorksList from "../../components/WorksList.astro";
---

<Layout title="施工実績" commonjs="./js/common.js">
  <Sheet>
    <h1>施工実績</h1>
    <WorksList />
  </Sheet>
</Layout>
