---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import NewsList from "../components/NewsList.astro";
import Sheet from "../components/Sheet.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
import ArrowLink from "../components/ArrowLink.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import WorksList from "../components/WorksList.astro";
---

<Layout title="Simple site" commonjs="./js/common.js">
  <div class="grid place-items-center justify-center relative">
    <Image
      src="./hero.webp"
      alt=""
      width="1919"
      height="1078"
      class="h-[calc(100dvh-72px)] sm:h-auto object-cover"
    />
    <div class="absolute left-0">
      <h1
        class="py-5 px-8 text-3xl sm:text-4xl text-white [text-shadow:_0_2px_0_rgb(0_0_0_/_40%)] font-bold bg-gray-900/50"
      >
        夢を築き、<span class="inline-block">明日を創る</span>
      </h1>
    </div>
  </div>
  <Sheet>
    <Section>
      <SectionTitle eng="About us">私たちについて</SectionTitle>
      <p class="pb-4">
        建設分野において、夢と現実を結びつけるプロフェッショナルな建設パートナーです。<br
        />私たちは20年以上にわたり、建設プロジェクトの実現に情熱と専門知識を注ぎ込んできました。
      </p>
      <div class="flex justify-end w-full">
        <ArrowLink href="/about">More</ArrowLink>
      </div>
    </Section>

    <Section>
      <SectionTitle eng="News">お知らせ</SectionTitle>
      <NewsList />

      <div class="text-center mt-8">
        <PrimaryButton href="./news">ニュース一覧</PrimaryButton>
      </div>
    </Section>

    <Section>
      <SectionTitle eng="works">施工実績</SectionTitle>
      <WorksList />

      <div class="text-center mt-8">
        <PrimaryButton href="/works">実績をもっと見る</PrimaryButton>
      </div>
    </Section>
  </Sheet>

  <script src="./js/swiper.js" slot="javascript"></script>
</Layout>
