---
import Layout from '../layouts/Layout.astro';
import NewsList from "../components/NewsList.astro"
import { Image } from 'astro:assets';
import Sheet from '../components/Sheet.astro';
---

<Layout title="Simple site" commonjs='./js/common.js'>
  <div class="grid place-items-center justify-center relative">
    <Image src="./hero.webp" alt="" width="1919" height="1078" class="h-[calc(100dvh-72px)] sm:h-auto object-cover"/>
    <div class="absolute left-0">
      <h1 class="py-5 px-8 text-3xl sm:text-4xl text-white [text-shadow:_0_2px_0_rgb(0_0_0_/_40%)] font-bold bg-gray-900/50">Building Dreams,&ensp;<span class="inline-block">Crafting Tomorrow</span></h1>
    </div>
  </div>
  <Sheet>
    <h2>会社概要</h2>
  </Sheet>
</Layout>
