---
import { Icon } from "astro-icon";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a type="button" class="inline-flex gap-1 items-center text-lg" href={href}>
  <slot /><Icon name="fluent:arrow-right-48-regular" class="w-5 h-5" />
</a>
