---
import { Icon } from "astro-icon";
const nav = [
  {
    href: "/",
    label: "ホーム",
  },
  {
    href: "/company",
    label: "会社情報",
  },
  {
    href: "/news",
    label: "お知らせ",
  },
  {
    href: "contact",
    label: "お問合せ",
  },
];
---

<nav class="sm:hidden">
  <button
    type="button"
    aria-expanded="false"
    class="z-30 fixed top-5 right-4 js-button"
  >
    <Icon name="bytesize:menu" class="w-8 h-8 js-bars" />
    <Icon name="uiw:close" class="hidden w-8 h-8 js-xmark" />
  </button>

  <div
    class="hidden z-20 fixed top-0 left-0 bg-gray-800/90 w-full h-screen js-overlay"
  >
  </div>

  <ul
    class="z-20 fixed top-0 right-0 w-[80%] h-screen pt-12 pl-8 text-xl bg-white translate-x-full ease-linear transition duration-200 js-menu"
  >
    {
      nav.map((item) => (
        <li class="py-6">
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
  </ul>
</nav>

<script src="./js/hamburger.js" slot="javascript"></script>
