---
import {Image} from 'astro:assets'
import Hamburger from './Hamburger.astro';

const nav = [
  {
    href:'/',
    label:'ホーム'
  },
  {
    href:'/company',
    label:'会社情報'
  },
  {
    href:'/news',
    label: 'お知らせ',
  },
  {
    href:'contact',
    label:'お問合せ'
}
]
---

<header class="grid sticky z-10 top-0 h-[72px] mx-auto bg-white">
  <div class="flex items-center justify-between w-[calc(100%-40px)] sm:w-[calc(100%-72px)] mx-auto">
    <button type="button" class="inline-block hover:opacity-70 duration-300"><Image src="/favicon.svg"/ alt="ホームへ戻る" width="40" height="40"></button>
<Hamburger/>

    <nav class="hidden sm:inline-block text-lg">
      <ul class="flex [&>li]:px-3 group">
      {nav.map((item)=>
      <li class="flex flex-col items-center relative after:opacity-0 after:w-0 after:transition-all hover:after:absolute hover:after:opacity-100 hover:after:inline-block hover:after:w-8 hover:after:bottom-[-4px] hover:after:h-0.5 hover:after:bg-green-700 hover:text-green-900 transition-all"><a class="hover:opacity-100" href={item.href}>{item.label}</a></li>
      )}
      </ul>
    </nav>
  </div>
</header>


