<h1
  class="relative inline-flex justify-center w-full pt-12 sm:pt-20 pb-2 text-3xl sm:text-4xl text-center font-bold after:absolute after:bottom-[-6px] after:w-12 after:h-[3px] after:mx-auto after:bg-green-900"
>
  <slot />
</h1>
