---
import { Image } from "astro:assets";
import { getWorks } from "../libs/microcms";

const response = await getWorks({
  fields: ["id", "thumbnail", "title", "content", "date"],
});

const limitedWorks = response.contents.slice(0, 6);
---

<ul>
  {
    limitedWorks.slice(0, 4).map((content: any) => (
      <li class="max-w-[480px]">
        <a href={`/works/${content.id}`}>
          <div>
            <Image
              src={content.thumbnail?.url}
              width="480"
              height="480"
              alt=""
              class="rounded-xl"
            />
          </div>
          <p class="mt-3 text-lg">{content.title}</p>
        </a>
      </li>
    ))
  }
</ul>
